<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Bloggr</title>
</head>
<body>
    <aside>
    <p>asdasdasdasd</p>
        <ul>
            <li>lahsdjqwe</li>
            <li>lahsdjqwe</li>
        </ul>
    </aside>
    
    <!-- Main Content -->
    <div>
        <h1>Hello from index.ejs</h1>
    </div>
</body>
</html>