<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    
    <title>Bloggr</title>
</head>
<body>
    <div class="container">
        <div class="item header">
            Header
        </div>
        <div class="item nav">
            Sidebar
            <%- include("nav.ejs") %>
        </div>
        <div class="item content">
            Content
            <!-- Show content /Home -->
            <%- include("bio.ejs")  %>
        </div>
        <div class="item footer">Footer</div>
      </div>
</body>
</html>