<ul>
    <li><a href="../views/bio.ejs">Biography</a></li>
    <li><a href="../views/essay.ejs">Essays</a></li>
    <li><a href="../views/bio.ejs">FAQs</a></li>
    <li><a href="/">Home</a></li>
</ul>